main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

main > div{
    width: 30%;
    text-align: center;
    border-radius: 10px;
    color: white;
    padding: 20px;
}

main > a{
    color: var(--green_color);
    text-decoration: underline;
    font-size: 1.7em;
    position: fixed;
    top: 10%;
    left: 10px;
}

main > a:hover{
    color: crimson;
}

#player_count{
    margin-bottom: 0;
}

table{
    width: 100%;
    background-color: var(--black_box);
    padding: 20px;
    margin-bottom: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}

.button_box button{
    color: white;
    width: 70px;
    height: 35px;
    border-radius: 10px;
}

.button_box button:hover{
    filter:brightness(60%);
}

#lunch{
    background-color: var(--type_field);
}

.notset{
    display: none;
}

.player img{
    border-radius: 5px;
    height: 35px;
    width: 35px;
}

.player td:first-of-type{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: start;;
    gap: 10px;
}

#leave_game:hover{
    cursor: pointer;
    filter:brightness(60%);
}

