main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.form-container{
    padding: 30px;
    display: flex;
    border-radius: 10px;
    color: white;
}

.form-container form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

input{
    font-size: 20px;
    background-color: var(--background_color);
    border-style: none;
    border-radius: 20px;
    width: 95%;
    height: 20px;
    padding: 5px;
}

label{
    align-self: flex-start;
    font-size: 20px;
    margin: 5px;
}

button{
    margin-top: 30px;
    padding: 10px;
}

a{
    color: var(--green_color);
}

a:hover{
    color: var(--greendark_color);
}


